*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('beautiful-japanese-forest-scene.jpg');
    background-size: cover;
}
/* NAVBAR SECTION */
#navbar{
    display: flex;
}
#title{
    width: 25%;
    color: orangered;
    padding: 16px 10px;
    font-size: 35px;
    margin-left: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#Links{
    width: 50%;
    padding: 30px 20px;
}
#Links a{
    text-decoration: none;
    padding: 20px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
    justify-content: center;
}
#button{
    width: 25%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
#button #input-btn input{
    padding: 6px 2px;
    border-color: orangered;
    outline: orangered;
    color: white;
    font-size: 16px;
    background-color: transparent;
}
#button #Search-btn button{
    padding: 10px 22px;
    background-color: orangered;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* LEFT CONTENT */
#content{
    margin-top: 60px;
    padding: 30px 30px;
    color: white;
}
#Title p{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    width: 40%;
}
#Title span{
    color: orangered;
    font-weight: bold;
    font-size: 80px;
}
#description p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 43%;
}
#JOIN-US button{
    margin-top: 30px;
    padding: 12px 55px;
    font-size: 18px;
    background-color: orangered;
    border: none;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}
/* RIGHT CONTENT */
#right-content {
    position: absolute;
    top: 120px;
    right: 60px;
    width: 400px;
}
#login-container{
    background-color: black;
    padding: 30px 20px;
    border-radius: 10px;
    color: white;
}
#header{
    margin-bottom: 20px;
    background-color: white;
    padding: 4px 1px;
    border-radius: 8px;
}
#header h2{
    text-align: center;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}
#email-input input, #password-input input{
    width: 90%;
    padding: 10px 6px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
#email-input{
    margin-top: 30px;
}
#password-input{
    margin-top: 30px;
}
hr{
    border: 0.5px solid orangered;
    width: 98%;
}
#login-btn{
    margin-top: 30px;
    text-align: center;
}
#login-btn button{
    padding: 10px 150px;
    background-color: orangered;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#text{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#sign-up a{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
#text1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
#social-media i{
    width: 40px;
    height: 40px;
    cursor: pointer;
}